.product {
    padding-bottom: 60px;

    @media (min-width: 768px) {
        padding-bottom: 80px;
    }

    @media (min-width: 1024px) {
        padding-bottom: 100px;
    }

    &__title {
        font-family: Inter;
        font-weight: 900;
        font-size: 24px;
        color: #1c1c1c;
        margin-bottom: 24px;

        @media (min-width: 768px) {
            font-size: 32px;
            margin-bottom: 32px;
        }

        @media (min-width: 1024px) {
            margin-bottom: 40px;
        }
    }

    &__wrap {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;

        @media (min-width: 768px) {
            gap: 40px;
        }

        @media (min-width: 1024px) {
            grid-template-columns: 1fr 302px;
            gap: 16px;
        }

        @media (min-width: 1440px) {
            grid-template-columns: 1fr 408px;
        }
    }

    &__slider-container {
        min-width: 100%;
    }

    &__main-slider {
        @media (min-width: 768px) {
            margin-bottom: 14px;
        }

        @media (min-width: 1024px) {
            margin-bottom: 12px;
        }

        @media (min-width: 1440px) {
            margin-bottom: 16px;
        }
    }

    &__slider-thumbnails {
    }

    &__info {
        color: #1c1c1c;

        @media (min-width: 1024px) {
            // flex-basis: 302px;
        }

        @media (min-width: 1440px) {
            // flex-basis: 408px;
        }
    }

    &__info-price {
        font-size: 20px;
        margin-bottom: 12px;
    }

    &__info-id {
        display: inline-block;
        font-size: 12px;
        background: #eeeff2;
        border-radius: 32px;
        padding: 4px 8px;
        margin-bottom: 24px;
    }

    &__info-title {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 4px;
    }

    &__info-table {
    }

    &__table {
        width: 100%;
        margin-bottom: 24px;
    }

    &__table-row {
    }

    &__table-item {
        color: #969eae;
        border-bottom: 1px solid #eeeff2;
        padding: 8px 0;

        &:first-child {
            padding-right: 10px;
        }
        &:last-child {
            text-align: end;
            color: #1c1c1c;
            padding-left: 10px;
        }
    }

    &__btn-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
    }

    &__button {
        flex-grow: 1;
        color: #ffffff;
        background-color: #0044f0;
        border: 1px solid transparent;
        border-radius: 32px;
        padding: 12px 24px;
        transition: all 0.3s ease 0s;

        &:hover {
            color: #ffffff;
            background-color: #0945de;
        }

        &:active,
        &:disabled {
            opacity: 0.2;
        }

        &:focus-visible {
            border: 1px solid #042f9c;
            outline: none;
        }
    }

    &__like-button {
        flex-basis: 16px;
        fill: #fff;
        stroke: #1c1c1c;
        transition: all 0.3s ease 0s;

        &:hover {
            fill: #0044f0;
            stroke: #0044f0;
        }

        &:active,
        &:disabled {
            opacity: 0.2;
        }

        &:focus-visible {
            stroke: #0044f0;
            outline: none;
        }
    }
}

.main-slider {

    &__wrap {
    }
    
    &__item {
    }
    
    &__img {
        width: 100%;
        object-fit: cover;
    }
    
    &__btn {
        fill: rgba(255, 255, 255, 0.4);
        fill-opacity: 0.4;
        transition: fill 0.3s ease 0s, stroke 0.3s ease 0s, fill-opacity 0.3s ease 0s;

        &:hover,
        &:focus-visible {
            fill: #ffffff;
            fill-opacity: 1;
        }

        &:active {
            fill: #ffffff;
            fill-opacity: 0.5;
        }
        
        &::after {
            content: "" !important;
        }
    }

    &__btn svg path {
        fill: #1c1c1c;
        fill-opacity: 1 !important;
        transition: fill 0.1s ease 0s;
    }

    &__btn:hover svg path {
        fill: #0044f0;
    }
    
    &__btn_next {
        right: 16px !important;

        @media (min-width: 768px) {
            right: 24px !important;
        }
    }
    
    &__btn_prev {
        left: 16px !important;

        @media (min-width: 768px) {
            left: 24px !important;
        }
    }
}

.slider-thumbnails {
    display: none !important;

    @media (min-width: 768px) {
        display: flex !important;
        gap: 14px;
    }

    @media (min-width: 1024px) {
        gap: 12px;
    }

    @media (min-width: 1440px) {
        gap: 16px;
    }

    &__wrap {
    }

    &__item {
        overflow: hidden;
        width: 100%;
        border-radius: 16px;
        cursor: pointer;
    }

    &__img {
        width: 100%;
        object-fit: cover;
    }
}
